<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
         <listener class-name="Listeners"/>
 </listeners>

  <test name="Validating without login">
    <classes>
        <class name="WithoutLoginTest"/>
    </classes>
  </test>

<!--  <test name="Validating with Login">-->
<!--      <classes>-->
<!--          <class name="LoginTest"></class>-->
<!--      </classes>-->
<!--  </test>-->
      

   <!-- Test -->
</suite> <!-- Suite -->
